input {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
  border: 2.5px solid #3e4d5c;
  padding: 5px;
  border-radius: 5px;
  color: #3e4d5c;
  box-shadow: 0 0 6px 0.1px #9b989a;
  outline: none;
  transition: background-color 0.15s, color 0.3s, box-shadow 0.15s;
}

input:focus {
  color: white;
  background-color: #3e4d5c;
}

input::placeholder {
  transition: color 0.3s;
}

input:focus::placeholder {
  color: rgb(223, 223, 223);
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #3e4d5c;
  padding: 10px;
}

header nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header nav .nav-item {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 18pt;
  color: black;
  margin-left: 20px;
  margin-right: 20px;

  transition: color 0.3s;
}

header nav .nav-item:hover {
  color: white;
}

header .home-button {
  margin-right: auto;
  text-decoration: underline;
  font-size: 32pt;
  color: black;

  transition: color 0.3s;
}

header .title {
  margin: 0;
  padding: 0;
}
  
footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: #d7d9db;
  background-color: #3e4d5c;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

span, p {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

footer span {
  margin: 0;
  padding: 0;
  font-family: 'Poor Story';
  font-size: 28pt;
}
