.developers-container {
    display: flex;
    flex-direction: row;
  }
  
  .developer-container {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
  }
  
  .developer {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .developer-img {
    border-radius: 50%;
    max-width: 50px;
  }
  
  .developer-name {
    font-family: 'Poor Story', cursive;
    color: #d7d9db;
    text-decoration: none;
    font-size: 1.2em;
    transition: font-size 0.20s;
  }
  
  .developer-container:hover {
    font-size: 1.6em;
  }