.post-container {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: lightgray;
  padding-bottom: 40px;
  margin-bottom: 10px;
  margin-left: 25vw;
  margin-top: 10px;
  margin-right: 25vw;
  border-radius: 5px;
  transition: box-shadow 150ms;
}

.post-title {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}

.post-text {
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  line-clamp: 2;
}

.post-container:hover {
  box-shadow: 0px 0px 15px 1px gray;
  cursor: pointer;
}

.post-container:active {
  box-shadow: 0px 0px 20px 5px grey;
  cursor: pointer;
}

.post-img {
  max-width: 50%;
  height: auto;
  padding-top: auto;
  margin-top: auto;
}
