.post-container {
  display: grid;
  justify-content: center;
  text-align: center;
  background-color: lightgray;
  padding-bottom: 40px;
  margin-bottom: 10px;
  margin-left: 25vw;
  margin-top: 10px;
  margin-right: 25vw;
  border-radius: 5px;
  transition: box-shadow 0.2s;
}

.post-container:hover {
  box-shadow: 0px 0px 10px 1px darkgray;
}

.post-img {
  max-width: 50%;
  height: auto;
  padding-top: auto;
  margin-top: auto;
}
