.developers-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.developer-img {
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
}

.developer-name {
  font-family: 'Poor Story', cursive;
  font-size: 16pt;
  color: #d7d9db;
  text-decoration: none;

  transition: font-size 0.3s;
}

.developer-name:hover {
  font-size: 20pt;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #3e4d5c;
  padding: 10px;
}

header .title {
  margin: 0;
  padding: 0;
}

.home-button {
  text-decoration: underline;
  font-size: 32pt;
  color: black;
}

footer {
  color: #d7d9db;
  background-color: #3e4d5c;
}

footer span {
  margin: 0;
  padding: 0;
  display: grid;
  text-align: center;
  font-family: 'Poor Story';
  font-size: 28pt;
}
