.developers-container {
  display: flex;
  flex-direction: row;
}

.developer-container {
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
}

.developer {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: center;
  align-items: center;
}

.developer-img {
  border-radius: 50%;
  max-width: 50px;
}

.developer-name {
  font-family: 'Poor Story', cursive;
  color: #d7d9db;
  text-decoration: none;
  font-size: 1.2em;

  transition: font-size 0.20s;
}

.developer-container:hover {
  font-size: 1.6em;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #3e4d5c;
  padding: 10px;
}

header .title {
  margin: 0;
  padding: 0;
}

.home-button {
  text-decoration: underline;
  font-size: 32pt;
  color: black;
}

footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: #d7d9db;
  background-color: #3e4d5c;
}

footer span {
  margin: 0;
  padding: 0;
  font-family: 'Poor Story';
  font-size: 28pt;
}
